.layout {
  min-height: 100vh;
}

.mainLayout {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
}

.content {
  margin-left: 200px;
  padding: 24px;
  background-color: #dae0e6;
  transition: margin-left 0.3s;
  min-height: calc(100vh - 60px);

  :global(.ant-layout-sider-collapsed) + & {
    margin-left: 80px;
  }
}

.contentWrapper {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}